{
  "agent": {
    "metrics_collection_interval": ${metrics_collection_interval},
    "run_as_user": "root"
  },
  "metrics": {
    "namespace": "CWAgent",
    "append_dimensions": {
      "InstanceId": "$${aws:InstanceId}"
    },
    "metrics_collected": {
      "mem": {
        "measurement": ["mem_used_percent"],
        "metrics_collection_interval": ${metrics_collection_interval}
      },
      "disk": {
        "measurement": ["used_percent"],
        "metrics_collection_interval": ${metrics_collection_interval},
        "resources": ["/"],
        "drop_device": true
      }
    }
  }
}
